<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Executive Dashboard</title>
    <link rel="stylesheet" href="app.component.css">
</head>

<body>

    <main class="main-content">
        <section class="hero-section">
            <div class="container">
                <h1>Executive Dashboard</h1>
                <p><h3>AI working in you favor!</h3>
                <a href="#" class="cta-button">Get Started</a>
            </div>
        </section>

        <section class="features-section">
            <div class="chart-container">
                <div class="feature">
                    <h2>Fine Motor</h2>
                    <p>Effortlessly track your activities and monitor your progress over time.</p>
                    <canvas id="line-chart"></canvas>
                </div>
                <div class="feature">
                    <h2>Visual Skills</h2>
                    <p>Effortlessly track your activities and monitor your progress over time.</p>
                    <canvas id="bar-chart"></canvas>
                </div>
                <div class="feature">
                    <h2>Biometrics</h2>
                    <p>Effortlessly track your activities and monitor your progress over time.</p>
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
        </section>
        
    </main>

    <footer class="footer">
        <img src="../assets/ATU.png" alt="Footer Image">
        <div class="container">
          
            <div>
                
                <p>&copy; 2023 Rodrigo & Otito Development. All rights reserved.</p>
                <ul class="social-links">
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>

</html>
