body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-section {
    background-image: url('../assets/banner.jpeg'); /* Specify the path to your image file */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #45a049;
}

.features-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: px;
}

.feature {
    flex-basis: calc(33.33% - 40px);
    margin: 20px;
    text-align: center;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .feature {
        flex-basis: calc(50% - 40px);
    }
}

@media screen and (max-width: 480px) {
    .feature {
        flex-basis: calc(100% - 40px);
    }
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer img {
    max-width: 250px;
    margin-right: 20px;
}

.footer p {
    margin: 0;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
}


/* chart one beside the other */
.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.canvas-container {
    flex: 1 1 calc(50% - 40px);
    margin: 20px;
    text-align: center;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px; /* Optional: Set a maximum width if you want to limit the chart size */
    width: 100%; /* Charts will take up 100% of the available width */
}

@media screen and (max-width: 768px) {
    .canvas-container {
        flex: 1 1 calc(100% - 40px);
    }
}

