<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Define your columns using ng-container -->
    <ng-container matColumnDef="Tables_in_information_schema">
      <th mat-header-cell *matHeaderCellDef> Table Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.Tables_in_information_schema }} </td>
    </ng-container>

    <!-- Header row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data row -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
