<!-- home.component.html -->
<main class="main-content">
    <app-header></app-header>
  
    <section class="home-content">
      <div class="container">
        
        <mat-form-field appearance="fill">
          <input matInput (keyup)="applyFilter($event, 'label')" placeholder="Filter by Label">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <input matInput (keyup)="applyFilter($event, 'x')" placeholder="Filter by X Value">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <input matInput (keyup)="applyFilter($event, 'y')" placeholder="Filter by Y Value">
        </mat-form-field>
  
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef> Label </th>
            <td mat-cell *matCellDef="let element"> {{ chartData.labels[element.x - 1] }} </td>
          </ng-container>
  
          <ng-container matColumnDef="x">
            <th mat-header-cell *matHeaderCellDef> X Value </th>
            <td mat-cell *matCellDef="let element"> {{ element.x }} </td>
          </ng-container>
  
          <ng-container matColumnDef="y">
            <th mat-header-cell *matHeaderCellDef> Y Value </th>
            <td mat-cell *matCellDef="let element"> {{ element.y }} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </section>
  
    <app-footer></app-footer>
  </main>
  